@import './node_modules/reset.css/reset.css'
@import './src/styles/fonts'

$screen-md: 376px
$screen-lg: 770px

html
  font-size: calc(100vw / 375 * 10)
  @media ( min-width: $screen-md )
    font-size: calc(100vw / 768 * 10)
  @media ( min-width: $screen-lg )
    font-size: calc(100vw / 1600 * 10)

body
  font-size: 1.6rem
  font-family: GratoGrotesk
  font-weight: 400
  line-height: 1.5

*
  box-sizing: border-box

.app
  contain: paint

.section
  padding: 2rem 0
  @media ( min-width: $screen-md )
    padding: 3rem 0
  @media ( min-width: $screen-lg )
    padding: 5rem 0
  &-header
    text-align: center
    display: flex
    flex-direction: column
    gap: 1rem
    @media ( min-width: $screen-md )
      gap: 2rem
    @media ( min-width: $screen-lg )
      gap: 3rem
    &__desc
      @media ( min-width: $screen-lg )
        max-width: 50%
        margin: 0 auto

.container
  max-width: 136rem
  margin: 0 auto
  padding: 0 1.5rem

.title
  text-transform: uppercase
  &--h2
    font-size: 2.8rem
    font-weight: 500
    line-height: 1.1
    @media ( min-width: $screen-md )
      font-size: 6rem
    @media ( min-width: $screen-lg )
      font-size: 10rem

.grid
  margin-top: 2rem
  display: grid
  gap: 1.5rem
  @media ( min-width: $screen-md )
    margin-top: 3rem
    grid-template-columns: repeat(2, 1fr)
  @media ( min-width: $screen-lg )
    margin-top: 9rem
    grid-template-columns: repeat(4, 1fr)
    gap: 2rem

.card
  height: 100%
  background: silver
  padding: 2rem
  display: flex
  flex-direction: column
  gap: .5rem
  border-radius: 2rem
  @media ( min-width: $screen-md )
    gap: 1rem
  @media ( min-width: $screen-lg )
    padding: 3rem
    gap: 1.5rem
  &__title
    font-weight: 500
    line-height: 1.4
    @media ( min-width: $screen-md )
      font-size: 1.8rem
    @media ( min-width: $screen-lg )
      font-size: 2.6rem
