@font-face
  font-family: GratoGrotesk
  font-style: normal
  font-weight: 400
  font-display: block
  src: url('/fonts/GratoGrotesk/GratoGrotesk-Regular.ttf')

@font-face
  font-family: GratoGrotesk
  font-style: normal
  font-weight: 500
  font-display: block
  src: url('/fonts/GratoGrotesk/GratoGrotesk-Medium.ttf')

@font-face
  font-family: GratoGrotesk
  font-style: normal
  font-weight: 700
  font-display: block
  src: url('/fonts/GratoGrotesk/GratoGrotesk-Bold.ttf')